body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    margin-top: 5vh;
    display: flex;
    width: 95vw;
    height: 90vh;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.markdown-editor, .svg-editor {
    border-radius: 10px;
    width: 50vw;
    height: inherit;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.expanded {
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 80vw !important;
    height: 90vh !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    background: white;
    z-index: 10;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

#markdownInput {
    flex: 1;
    padding: 10px;
    border: none;
    resize: none;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease-in-out;
}

#markdownOutput {
    flex: 1;
    padding: 10px;
    border-top: 1px solid #ccc;
    overflow-y: auto;
    background-color: #fff;
}

#drawingCanvas {
    flex: 1;
    border: 1px solid #000;
    cursor: crosshair;
    height: inherit;
    transition: transform 0.3s ease-in-out;
}

#drawingCanvasContainer{
    overflow-x: scroll;
    overflow-y: scroll;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

#insertButton, #eraserButton, #clearButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.navbar-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    top: 8px;
    margin-bottom: 3vh;
    margin-right: 1vw;
}

#colorPicker {
    margin-top: 8px;
}

.title{
    display: inline-block;
    margin-right: 1vw;
}

.navbar{
    top: 0px;
    position: absolute;
    margin-bottom: 5vh;
    z-index: 0;
}
